<div class="intro-card-container grid">
    <h2>How the application works</h2>

    <div class="head-list">
        <h4>Overview</h4>
        <p>Our ID Extraction Application is designed to simplify and automate the processing of financial documents. Users can upload ID cards in various formats like PDF, images (JPEG/PNG) and the application will intelligently extract and structure key data such as Name, ID Number, DOB, etc. Once extracted, this data is mapped into a structured JSON format, which users can review directly within an intuitive dashboard interface. Additionally, users can download both the mapped JSON and the original uploaded document for their records or integration into other systems.</p>
    </div>
    <div class="head-list">
        <h4>Upload a Document</h4>
        <ul>
            <li>Click on the “Upload” button.</li>
            <li>Select a file in PDF, image (JPG/PNG).</li>
            <li>The application will process and extract key Id Card data.</li>
        </ul>
    </div>
    <div class="head-list">
        <h4>View Extracted Data</h4>
        <ul>
            <li>Once uploaded, navigate to the Dashboard.</li>
            <li>Review the extracted and structured data mapped in a clean JSON view.</li>
            <li>Cross-check fields such as Name, ID Number, DOB, and more.</li>
        </ul>
    </div>
    <div class="head-list">
        <h4>Download Options</h4>
        <ul>
            <li><b>Mapped JSON:</b> Click “Download JSON” to get the structured Id Card data.</li>
        </ul>
    </div>
</div>