<p-card class="invoiceDashboard flex flex-column gap-4 mb-4 justify-content-between">
    <div class="filterWrapper flex flex-column mb-4 mt-1">
        <form class="flex gap-3 sm:flex-nowrap flex-wrap w-full">
            <p-floatlabel class="w-full">
            <p-select id="accountSelect" [formControl]="accountControl" [options]="accounts" optionLabel="name" (onChange)="accountChange($event)" class="w-full md:w-76" />  
            <label id="account_label">Account</label>
            </p-floatlabel>       
            @if(lastFetchedEmailDatetime){
                <label class="flex white-space-nowrap align-items-center flex-1"><span class="mr-2 font-medium">Last Sync:</span> {{ lastFetchedEmailDatetime | date:'MMM d, y h:mm a' }}</label>
            }   
            <p-button [disabled]="!accountControl.value || tableConfig.isSpinnerRunning" class="align-items-end" label="Sync" severity="info" (click)="syncInvoices()"/>
        </form>
    </div>
<div class="flex gap-4 flex-wrap w-full invoiceValueCard">
    <p-card class="flex-1 min-w-[200px]">
      <div class="flex flex-column align-items-center">
        <h5 class="m-0 text-500">Total Dues</h5>
        <h2 class="mt-2 mb-0 text-900 font-bold">
          {{totalAmountInfo?.total_amount | currency:'USD':'symbol':'1.0-2'}}
        </h2>
      </div>
    </p-card>
    
    <p-card class="flex-1 min-w-[200px]">
      <div class="flex flex-column align-items-center">
        <h5 class="m-0 text-500">Upcoming Due</h5>
        <h2 class="mt-2 mb-0 text-900 font-bold">
          {{totalAmountInfo?.total_upcoming_amount | currency:'USD':'symbol':'1.0-2'}}
        </h2>
      </div>
    </p-card>
    
    <p-card class="flex-1 min-w-[200px]">
      <div class="flex flex-column align-items-center">
        <h5 class="m-0 text-500">Overdue</h5>
        <h2 class="mt-2 mb-0 text-900 font-bold">
          {{totalAmountInfo?.total_overdue_amount | currency:'USD':'symbol':'1.0-2'}}
        </h2>
      </div>
    </p-card>
    
    <p-card class="flex-1 min-w-[200px]">
      <div class="flex flex-column align-items-center">
        <h5 class="m-0 text-500">Total Paid</h5>
        <h2 class="mt-2 mb-0 text-900 font-bold" >
          {{totalAmountInfo?.total_paid | currency:'USD':'symbol':'1.0-2'}}
        </h2>
      </div>
    </p-card>
  </div>
    

</p-card>

<app-advance-table (actionClicked)="actionClicked($event)" [tableData]="tableData" [tableConfig]="tableConfig"></app-advance-table>
