<div class="card">
    <p-tabs value="0" scrollable>
        <p-tablist>
            <ng-template #previcon>
                <i class="pi pi-minus"></i>
            </ng-template>
            <p-tab value="0">
                <i class="pi pi-id-card"></i>
                <span class="font-bold whitespace-nowrap">ID Cards</span>
            </p-tab>
            <ng-template #nexticon>
                <i class="pi pi-plus"></i>
            </ng-template>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
               <app-id-cards></app-id-cards>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>