<div class="upload-card-container grid">
    <div class="upload-section col-5">
        <app-file-upload [acceptedFileTypes]="acceptedFileTypes"
            [apiEndpoint]="envUrl + uploadIdCardURL"
            (invoiceDetail)="getIdCardDetail($event)">
        </app-file-upload>

    </div>
    @if (tableData.length > 0) {
    <div class="table-section col-7">
        <app-table
            [tableConfig]="tableConfig"
            [tableData]="tableData">
        </app-table>
    </div>
    }
</div>
<div class="button-group">
    <a class="attractive-link" (click)="showPreviousFiles()">
        <span class="link-icon">📂</span>
        <span class="link-text">View Previous Files</span>
    </a>
</div>