 @if (isTableView) {
<app-advance-table [tableData]="tableData" (isAddRow)="isAddRow($event)"
    [tableConfig]="tableConfig" (actionClicked)="actionClicked($event)">
</app-advance-table>
} @else {
<p-card>
    <p-button label="Back" styleClass="mb-3" icon="pi pi-arrow-left"
        (click)="isTableView = true"></p-button>
    <div class="form-container">
        <form class="grid mt-2 flex-wrap" [formGroup]="mailForm"
            (ngSubmit)="onSubmit()">
            <div class="form-field col-12 md:col-6 mb-4 relative">
                <p-floatlabel>
                    <input class="w-full" id="name" type="name" pInputText
                        formControlName="name" autocomplete="off" />
                        <label for="name_input" id="name_label" class="required-field">
                            Name <span aria-hidden="true">*</span>
                          </label>
                </p-floatlabel>
            </div>
            <div class="form-field col-12 md:col-6 mb-4 relative">
                <p-floatlabel>
                    <input class="w-full" id="email" type="email" pInputText
                        formControlName="email" autocomplete="off" />
                    <label id="over_label" class="required-field">Email
                        <span aria-hidden="true">*</span>
                    </label>
                </p-floatlabel>
            </div>
            <div class="form-field col-12 md:col-6 mb-4 relative">
                <p-floatlabel>
                    <input class="w-full pr-4" id="password" type="password"
                        pInputText formControlName="password"
                        autocomplete="off" />
                    <span class="info-icon">

                        <i class="pi pi-info-circle"
                            pTooltip="Please enter your app password."
                            tooltipPosition="top"></i>
                    </span>
                    <label id="over_label" class="required-field">Password
                        <span aria-hidden="true">*</span>
                    </label>
                </p-floatlabel>
            </div>
            <div class="form-field col-12 md:col-6 mb-4 relative">
                <p-floatlabel>
                    <input class="w-full" id="server_hostname" type="text"
                        pInputText formControlName="server_hostname"
                        autocomplete="off" />
                    <label id="over_label" class="required-field">SMTP Server
                        <span aria-hidden="true">*</span>
                    </label>
                </p-floatlabel>
            </div>
            <div class="form-field col-12 md:col-6 mb-4 relative">
                <p-floatlabel>
                    <input class="w-full" id="port" type="text" pInputText
                        formControlName="port" autocomplete="off" />
                    <label id="over_label" class="required-field">Port
                        <span aria-hidden="true">*</span>
                    </label>
                </p-floatlabel>
            </div>
            <div class="form-field col-12 md:col-6 mb-4 relative">
                <app-number-chips
                    [numberChips]="numberChips"></app-number-chips>
            </div>
            <div class="form-field col-12 md:col-6 mb-4 relative">
                <p-floatlabel>
                    <p-datepicker styleClass="w-full" class="w-76" formControlName="start_date"
                        [iconDisplay]="'input'" [showIcon]="true"
                        inputId="icondisplay" />
                    <label id="over_label">{{isEditable ? 'Last Sync Date' : 'Start Date' }}</label>
                </p-floatlabel>
            </div>

            <div
                class="form-actions col-12 md:col-6 mb-4 relative flex justify-content-end">
                <button pButton type="submit" [label]="isEditable ? 'Update' : 'Save'"
                    [disabled]="mailForm.invalid"></button>
            </div>
        </form>
    </div>
</p-card>
}
<p-confirmdialog [style]="{ width: '450px' }" />
<p-toast />